html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color: #fcc49c;
    background-image: url("../img/sky.jpg");
    background-size: cover;
    margin: 0px;
}

a {
    color: #fcc49c;
    text-decoration: none;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 60px;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 5%;
    font-size: 40px;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
}

td {
    border: 5px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

tr:hover {
    background-color: #ff9466;
    text-decoration: #5b1d15;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: #ff9466;
}

    .menu a {
        margin: 1%;
        background-color: #5b1d15;
        border-radius: 5%;
        padding: 0.5%;
        color: #ff9466;
    }

        .menu a:hover {
            background-color: #ff9466;
            color: #5b1d15;
        }

    .menu #branding {
        position: absolute;
        display: flex;
        top: 1%;
        left: 1%;
        margin: 0px;
        background: none;
    }

        .menu #branding a {
            background: none;
        }

        .menu #branding img {
            width: 60px;
            height: 60px;
        }

        .menu #branding p {
            font-size: 30px;
            color: #5b1d15;
            margin-left: 10%;
            margin-top: 9%;
            font-family: 'Oregano', cursive;
        }

.body {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #5b1d15;
}

.body-mp {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #5b1d15;
}

.body img {
    margin-left: 5%;
    margin-right: 5%;
}

.footer {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px #c87b5a solid;
    padding-bottom: 1.5%;
    padding-top: 1.1%;
    background-color: #5b1d15;
}

    .footer a {
        color: #c87b5a;
    }