body {
    color: white;
    background-image: url("../../img/space.jpg");
    background-size: cover;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 60px;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 5%;
    font-size: 40px;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
}

td {
    border: 5px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

tr:hover {
    background-color: white;
    color: black;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: white;
}

.menu a {
    margin: 1%;
    background-color: black;
    border-radius: 5%;
    padding: 0.5%;
    color: white;
}

.menu a:hover {
    background-color: white;
    color: black;
}

.menu #branding {
    position: absolute;
    display: flex;
    top: 1%;
    left: 1%;
    margin: 0px;
    background: none;
}

.menu #branding a {
    background: none;
}

.menu #branding img {
    width: 60px;
    height: 60px;
}

.menu #branding p {
    font-size: 30px;
    color: black;
    margin-left: 10%;
    margin-top: 9%;
    font-family: 'Oregano', cursive;
}

.body {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4.1%;
    padding-bottom: 4.5%;
    background-color: black;
}

.body img {
    margin-left: 5%;
    margin-right: 5%;
}

.footer {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px grey solid;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: black;
}

.footer a {
    color: grey;
}