@page
@model Kapcioszek_strona.Pages.AboutModel
@{
    ViewData["Title"] = "O mnie";
    ViewData["css"] = "site.css";
    ViewData["favicon"] = "../img/channels4_profile.ico";
}

<div class="body">
    <div>
        <h2>O mnie</h2>
    </div>
    <div>
        <p>
            Hej! Jestem Kapcioszek. Moim hobby jest produkcja muzyki. Myślę, że z każdym albumem idzie mi
            coraz lepiej ale to już tobie, drogi słuchaczu oceniać. Jednym z moich marzeń jest możliwość robienia w
            przyszłości piosenek z tekstem (na razie tworzę tylko utwory z samą muzyką).
            Oprócz tworzenia muzyki lubie również informstykę, gry wideo oraz "siedzę" trochę w grach RPG.
            W każdym razie życzę dobrego dnia i pamiętaj o tym żeby się nawadniać oraz dobrze się wyspać. :3
        </p>
    </div>

    <div>
        <a href="https://www.youtube.com/channel/UCET1UxPbAb7M7CqZXo5D79w">
            <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" height="75" width="75">
        </a>
        <a href="https://open.spotify.com/artist/0mvaqOMQmfzd3e5z8qcSjg">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/512px-Spotify_icon.svg.png?20220821125323"
                 height="75" width="75">
        </a>
    </div>
    <div>
        <h3>Kontakt:</h3>
        <div>
            <p><b>Email: </b>kapcioszek@onet.pl</p>
        </div>
    </div>

</div>